main {
    background-color: rgb(255, 220, 225)
}

body {
background-color: rgb(255, 220, 225)
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

* {
    border: none;
    outline: none;
}