<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/presentation.css">
    <title>Présentation</title>
</head>

<body>

    <nav>
        <a href="#qui_suis-je">Qui suis-je</a>
        <a href="#mes_cours">Pourquoi choisir mes cours?</a>
    </nav>

    <hr>

    <div>
        <h2>
            <p id="qui_suis-je">Qui suis-je</p>
        </h2>
        <p>Moi c'est Alexanne ! étudiante en japonais depuis mes 10 ans !
            <!--même si là c'est mon copain qui code le site hihi-->
        </p>
    </div>

    <div>
        <h2>
            <p id="mes_cours">Pourquoi choisir mes cours</p>
        </h2>
        <p>Car je suis moi-même dyspraxyque donc je connais la maladie
            et je peux plus facilement m'adapter aux difficultés et aux différents besoin de mes élèves
            par rapport à un proffesseur qui n'est pas former sur les maladies dys</p>
    </div>


</body>

</html>